<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#"><img [src]="imagepath"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" (click)="toggleCollapsed()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/education" (click)="toggleCollapsed()">Education</a> 
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/timeline" (click)="toggleCollapsed()">Professional Summary</a> 
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#" (click)="toggleCollapsed()">Skill</a> 
      </li>
      <!-- <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Category</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" href="#">Option 1</a>
          <a class="dropdown-item" href="#">Option 2</a>
          <a class="dropdown-item" href="#">Option 3</a>
        </div>
      </li> -->
     </ul>
     <!-- <div class="navbar-header" *ngFor="let profile of profileObservable | async">
     <p><fa-icon [icon]="['fas', 'user-circle']" size="1x" style="color: turquoise;"></fa-icon>  {{profile.name}} | <fa-icon [icon]="['fas', 'envelope']" size="1x" style="color: tomato;">
     </fa-icon>&nbsp;<a href="mailto:{{profile.email}}">{{profile.email}}</a> | 
     <span class="phone"><fa-icon [icon]="['fas', 'phone-square']" size="1x" style="color:teal;"></fa-icon>{{profile.mobile}}</span> | 
     <span class="linkedin"><a href="{{profile.linkedin}}" target="_blank"><fa-icon [icon]="[ 'fab','linkedin']" size="1x"></fa-icon></a></span>
    </p>
    </div> -->
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
 </nav>
<router-outlet></router-outlet>
