body {
    padding-top: 80px; 
    background: white;
 }
 .starter-template {
     padding: 3rem 1.5rem;
     text-align: center;
 }
 
 .header-center {
    text-align: center; 
 }
 .phone::before {
     white-space: pre;
 }